body {
  background-image: radial-gradient(#212529, #343A40, #495057);
  }
  
  h1 {
    font-family: 'Roboto', sans-serif;
    color: #E9ECEF;  
    font-size: 40px;  
    text-align: center;
  }
  h2 {
    font-family: 'Roboto', sans-serif;
    color: #E9ECEF;    
    text-align: center;
  }
  
  p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color:#E9ECEF;
  }
  div {
    margin: 20px;
    padding-top: 20px;
    padding-right: 100px;
    padding-bottom: 50px;
    padding-left: 450px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 400px;
    border-radius: 5px;
    background-image: linear-gradient(#ADB5BD,#CED4DA);
    height: 317px;
    position: fixed;
    overflow: auto;
  }

  li a {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    border: 2px solid #E9ECEF;
    border-radius: 5px;
    display: block;
    color: #495057;
    padding: 12px 18px;
    text-align: center;
    text-decoration: none;  
  }
  li a:hover {
    background-color: #6C757D;
    color: #E9ECEF;
  }
  li a:hover:not(.active) {
    background-color: #6C757D;
    color: #E9ECEF;
  }
  
  img {
    padding:20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition:transform 0.80s ease;
}

img:hover {
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
}
.link {
    font-family: 'Roboto', sans-serif;
    color: #E9ECEF;   
    display:block; 
    text-align: center;
    font-size: 30px;
    padding: 20px;
}

.pic {
    border-radius: 50%;
    position: absolute;
    position: fixed;
    bottom:0;
    left: 0;
    padding: 100px;
  }
  .info{
    position: absolute;
    bottom: 8px;
    left: 10px;
    font-size: 18px;
  } 
  .hardware {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color:#E9ECEF;
    margin: 20px;
  }