body {
    background-color: #000000;
  }
  
  h1 {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;    
    text-align: center;
  }
  h2 {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;    
    text-align: center;
  }
  
  p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color:#ffffff
  }
  div {
    margin: 20px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 400px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 400px;
    background-color: #0f0f0f;
    height: 320px;
    position: fixed;
    overflow: auto;
  }

  li a {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    display: block;
    color: #ffffff;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
  }
  li a:hover {
    background-color: #555;
    color: white;
  }
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  li a:active {
    background-color: #04AA6D;
    color: white;
  }
  img {
    padding:20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition:transform 0.50s ease;
}

img:hover {
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
}
.link{
    font-family: 'Roboto', sans-serif;
    color: #ffffff;   
    display:block; 
    text-align: center;
    font-size: 30px;
    padding: 20px;
}
    
    